body {
	background-color: #17181A;
	background-image: url("../img/carbon_fibre.png");
    padding-top: 80px;
    padding-right: 490px;
    padding-bottom: 80px;
    padding-left: 490px;
}

#search-engine{
	margin: 10px;
	width: 500px;
	background: #27282B; color: #cecfd1;
	border: 0px;
}

#social_icons{
	position: absolute;
	top: 200px;
	left: 100px;
	background:
}

#search {
		margin: 10px;
    width: 500px;
    background: #27282B; color: #cecfd1;
    border: 0px solid #27282B; border-radius: 0px;
    padding: 8px 8px;
		font-size: 12pt;
}
    #q:focus { border-color: #66686A !important; }
    #q:hover { border-color: #393A3D; }

.img_main {
	max-width: 216px;
	max-height: 216px;
  opacity: 0.4;
  filter: alpha(opacity=40); /* For IE8 and earlier */
}

.img_main:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

h1{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #ffffff;
	font-size: 250%;
	text-align: center;
}

p{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #ffffff;
	font-size: 100%;
	text-align: center;
}
