body {
	background-color: #17181A;
	background-image: url("../img/binding_dark.png");
    padding-top: 80px;
    padding-right: 490px;
    padding-bottom: 80px;
    padding-left: 490px;
}

h1{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #ffffff;
	font-size: 250%;
	text-align: center;
}

p{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #ffffff;
	font-size: 100%;
	text-align: center;
}